.serTypes {
    width: 100%;
    margin: 0px auto;
    padding-top: 110px;
    padding-bottom: 100px;
    display: inline-block;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 33.33%;
            padding: 0px 15px;
            float: left;
            margin-bottom: 24px;
            .sgSrv {
                width: 100%;
                position: relative;
           
                border-radius: 6px;
                transition: all 0.4s ease;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 60%;
                    bottom: 14px;
                    left: 0px;
                    border-radius: 0px 0px 12px 12px;
                    transition: all 0.6s ease;
                }
                .imSc {
                    transition: all 0.4s ease;
                    background-color: #f1f1f1;
                    padding: 24px 94px;
                    min-height: 355px;
                    display: flex;
                    align-items: center;
                    img {
                        transition: all 0.4s ease;
                        width: 100%;
                    }
                }
                .dtls {
                    width: 100%;
                    padding: 76px 47px 49px 47px;
                    z-index: 1;
                    position: relative;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    bottom: 0;
                    background-color: white;
                    min-height: 359px;
                    .ttl {
                        font-size: 22px;
                        line-height: 30px;
                        color: #0c0c0c;
                        margin-bottom: 10px;
                        font-weight: 400;
                    
                    }
                    .dtl {
                        font-size: 14px;
                        line-height: 24px;
                        color: #666d81;
                        margin-bottom: 30px;
                    }
                    a {
                        color: #cf252e;
                        text-decoration: none;
                        font-size: 16px;
                        letter-spacing: 2px;
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        overflow: hidden;
                        font-weight: 400;
                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: #e7eaee;
                            top: 8px;
                            left: 115px;
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            width: 30px;
                            height: 1px;
                            background-color: #cf252e;
                            top: 8px;
                            left: 115px;
                            z-index: 1;
                            -webkit-transition: all 0.4s;
                            transition: all 0.4s;
                        }
                        &:hover {
                            &::before {
                                width: 100%;
                                transition: all 0.4s;
                            }
                        }
                    }
                }
                &:hover {
                    .dtls {
                      
                 
                        transition: all 0.4s;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        box-shadow: 1px 15px 19px #cbcbcb;
                    }
                    &::after {
                        bottom: 0px;
                        transition: all 0.1s ease;
                        height: 100%;
                    }
                    .imSc {
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}
.serv-detail {
    padding: 170px 0;
    .outer__serv {
        display: flex;
        .left__serv {
            width: 40%;
            position: sticky;
            position: sticky;
            top: 135px;
            height: fit-content;
            border-radius: 16px;
            .image__sec
            {
                 img
                 {
                     width: 100%;
                 }
            }
    
        }
        .right__serv {
            padding-left: 42px;
            width: 60%;
            position: relative;
            .image__sec {
                img{
                    width: 100%;
                }
            }
            .cont
            {
                h3{
                   
                    font-size: 29px;
                    font-weight: 500;
                    padding-bottom: 28px;
                    position: relative;
                    margin-bottom: 24px;


                     &::after {
                     
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: #e7eaee;
                            bottom: 11px;
                            left: 0;

                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 92px;
                        height: 1px;
                        background-color: #cf252e;
                        /* top: 8px; */
                        bottom: 11px;
                        left: 0;
                        z-index: 1;
                        -webkit-transition: all 0.4s;
                        transition: all 0.4s;
                    }
                }
                p
                {
                    font-size: 17px;
                    padding-top: 0;
                    line-height: 26px;
                    color: #707070;
                    padding-bottom: 22px;
                }
                a
                {
                    color: #cf252e;
                    text-decoration: none;
                    font-size: 17px;
                }
            }
        }
    }
}
