.terms-outer {
    padding-top: 199px;
    padding-bottom: 114px;
    @include for-phone {
        padding-top: 159px;
        padding-bottom: 40px;
    }
    .term-content {
        padding-left: 74px;
        @include for-tablet {
            padding-left: 0;
            padding-top: 41px;
        }
        .head {
            h3 {
                font-weight: bold;
                font-size: 30px;
                color: #de1f1f;
                padding-bottom: 34px;
                text-transform: uppercase;
                @include for-tablet {
                    font-size: 23px;
                    padding-bottom: 20px;
                }
                @include for-phone {
                    font-size: 20px;
                }
            }
        }
        .term-main {
            padding-bottom: 10px;
            h4 {
                font-weight: 500;
                font-size: 17px;
                color: #1b2437;
                padding-bottom: 12px;
                line-height: 25px;
                @include for-tablet {
                    font-size: 16px;
                }
                @include for-phone {
                    font-size: 15px;
                }
            }
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #878585;
                padding-bottom: 10px;
                @include for-phone {
                    font-size: 13px;
                }
            }
        }
    }
}

.sitemap-outer {
    padding-top: 122px;
    .sitemap-header {
        height: 136px;
        background: #de1f1f;
        display: flex;
        align-items: center;
        h3 {
            font-weight: bold;
            font-size: 30px;
            color: #fff;
        }
    }
    .sitemap-sec {
        padding: 49px 0;
        .link-outer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border-bottom: 1px solid #dfd2d2;
            &:last-child {
                border-bottom: 0px solid #dfd2d2;
            }
            @include for-tablet {
                grid-template-columns: repeat(2, 1fr);
                border-bottom: 0px solid #dfd2d2;
            }
            @include for-phone {
                grid-template-columns: repeat(1, 1fr);
            }
            .box-link {
                padding: 37px 39px;
                border-right: 1px solid #dfd2d2;
                @include for-laptop {
                    padding: 37px 19px;
                }
                @include for-tablet {
                    padding: 37px 34px;
                    border-bottom: 1px solid #dfd2d2;
                    &:nth-of-type(even) {
                        border-right: 0px solid #dfd2d2;
                    }
                }
                @include for-phone {
                    padding: 15px 19px;
                    border-right: 0px solid #dfd2d2 !important;
                }
                &:last-child {
                    border-right: 0px solid #dfd2d2;
                }
                .main {
                    padding-bottom: 20px;
                    h3 {
                        font-weight: bold;
                        font-size: 17px;
                        letter-spacing: 0.1em;
                        line-height: 31px;
                        color: #373737;
                        text-transform: uppercase;
                        padding-bottom: 16px;
                        @include for-laptop {
                            font-size: 15px;
                        }
                    }
                    ul {
                        li {
                            a {
                                font-weight: 600;
                                font-size: 17px;
                                letter-spacing: 0.1em;
                                line-height: 31px;
                                color: #de1f1f;
                                text-decoration: none;
                                padding-bottom: 1px;
                                text-transform: uppercase;
                                @include for-laptop {
                                    font-size: 15px;
                                }
                                &:hover {
                                    color: #990a0a;
                                }
                            }
                        }
                    }
                }
                .sub {
                    padding-bottom: 7px;
                    h3 {
                        font-weight: 600;
                        font-size: 17px;
                        letter-spacing: 0.1em;
                        line-height: 31px;
                        color: #BFBFBF;
                        padding-bottom: 17px;
                        text-transform: uppercase;
                        @include for-laptop {
                            font-size: 15px;
                        }
                    }
                    ul {
                        padding-left: 14px;
                        li {
                            a {
                                font-weight: normal;
                                font-size: 15px;
                                letter-spacing: 0.05em;
                                line-height: 21px;
                                color: #de1f1f;
                                padding-bottom: 4px;
                                text-decoration: none;
                                display: block;
                                &:hover {
                                    color: #990a0a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}